header {
  display: flex;
  justify-content: space-between;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  box-sizing: border-box;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
  background-color: #484848;
  color: rgba(255, 255, 255, 0.87);
}

a {
  font-weight: 500;
  color: rgb(58, 144, 224);
  text-decoration: inherit;
}

a:hover {
  color: rgb(26, 127, 222);
}

img {
  margin-left: 8px;
  height: 45px;
  width: auto;
}

/* Header principal */
.store-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
}

/* Navigation */
.header-nav {
  display: flex;
  gap: 20px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #0056b3;
}

.cart-count {
  font-weight: bold;
  color: #dc3545;
}
