
<div class="container">
  <img src="../../../assets/Caakle.png" width="250px" alt="Logo" class="logo">

  <h2>Inscrivez-vous</h2>

  <div *ngIf="errorMessage != ''" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Erreur!</strong> {{ errorMessage}}
    <button type="button" class="btn-close" aria-label="Close" (click)="errorMessage = ''"></button>
  </div>

  <form [formGroup]="registerUserForm">
    <div class="firstNameAndLastName">
      <div class="mb-3">
        <label for="firstname" class="form-label">Prénom <app-required/></label>
        <input class="form-control" formControlName="firstnameControl" type="text" id="firstname" name="firstname" placeholder="Entrez votre prénom" required>
        <small>{{ getErrors('firstnameControl') }}</small>
      </div>

      <div class="mb-3">
        <label for="lastname" class="form-label">Nom <app-required/></label>
        <input class="form-control" formControlName="lastnameControl" type="text" id="lastname" name="lastname" placeholder="Entrez votre nom" required>
        <small>{{ getErrors('lastnameControl') }}</small>
      </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">Email <app-required/></label>
      <input class="form-control" formControlName="emailControl" type="email" id="email" name="email" placeholder="Entrez votre email" required>
      <small>{{ getErrors('emailControl') }}</small>
    </div>

    <div class="mb-3">
      <label for="login" class="form-label">Login <app-required/></label>
      <input class="form-control" formControlName="loginControl" type="text" id="login" name="login" placeholder="Entrez le login du compte" required>
      <small>{{ getErrors('loginControl') }}</small>
    </div>

    <div class="mb-3">
        <label for="password" class="form-label">Mot de passe <app-required/></label>
        <input class="form-control" formControlName="passwordControl" type="password" id="password" name="password" placeholder="Entrez le mot de passe du compte" required>
        <small>{{ getErrors('passwordControl') }}</small>
    </div>

    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirmer le mot de passe <app-required/></label>
        <input class="form-control" formControlName="confirmPasswordControl" type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirmez le mot de passe du compte" required>
        <small>{{ getErrors('confirmPasswordControl') }}</small>
    </div>

    <a routerLink="/login" class="btn btn-link">Déjà un compte ? Connectez-vous !</a>

    <button type="button" class="btn btn-primary" (click)="submitForm()">Créer mon compte</button>
  </form>
</div>
